* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.container {
    margin: 50px auto;
    padding: 30px;
}
.dateContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.currentdate {
    display: flex;
}
#date {
    font-size: 3rem;
    font-weight: 600;
    margin-right: 10px;
}
.monthYear {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#year {
    font-weight: 100;
}
#day {
    text-transform: uppercase;
}
.inputContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    width: 100%;
}
.inputContainer input {
    width: 400px;
    margin-right: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
    outline: none;
}
.inputContainer input:focus {
    outline: 1px solid #ccc;
}
.inputContainer button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.inputContainer button:hover {
    transform: scale(1.1);
}
.inputContainer button:active {
    transform: scale(0.9);
}

/* to be implemented using JS*/
.todoContainer {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.todoList {
    display: flex;
    position: relative;
    width: 95%;
    padding-left: 40px;
    font-size: 1.2rem;
}
.todoList input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 1;
}
.checkmark {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 50%;
}
.todoList:hover .checkmark {
    background-color: #111;
}
.todoList input:checked ~ .checkmark {
    background-color: #fff;
}
.checkmark::after {
    display: none;
    content: "";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.todoList input:checked ~ .checkmark::after {
    display: block;
}
.todoText {
    width: 100%;
    padding-right: 10px;
    word-wrap: break-word;
}
.removeTodo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    cursor: pointer;
}
.removeTodo i {
    color: #fff;
}
.removeTodo i:hover {
    color: #999;
}


@media screen and (max-width: 550px) {
    .inputContainer input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 450px) {
    .todoText {
        font-size: 1rem;
    }
}
@media screen and (max-width: 360px) {
    .dateContainer {
        font-size: 1rem;
    }
    #date {
        font-size: 2.5rem;
    }
    .todoText, .inputContainer input {
        font-size: 0.9rem;
    }
}